.contributer_arrow{
    padding: 20px;
}
.contributer_addnews_main{
  padding: 20px;
}
.contributer_arrow h2{
    
    font-size: 35px;
    font-weight: bolder ;
}

.contributer_addnews{
    padding: 20px;
}
.contributer_input{
   background-color: antiquewhite;
}
.contributer_addnews{
    background-color:#e0e4e7;
  /* height:100%; */
  margin-left: 100px;
  padding-left: 60px;


}
.ccccccccccc{
  padding-left: 50px;
  
}
.contributer_input{

  width: 600px;
  height: 50px;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 2px;

}
.contributer_addnewsone h4{
  font-weight: 500;
}
.contributer_content{
  padding-top: 10px;font-weight: 500;
}
.contributer_addnews_textarea{
  width: 600px !important;
  height: 90px;
  border: 2px solid black;
  border-radius: 5px;
}
.coontributor_button{
padding-left: 550px;
padding-top: 60px;
}
.coontributor_button button{
  width: 200px;
  height: 40px;
  color: black;
  font-weight: 800;
  font-size: 20px;
}