.reader_profile_sidebar {
    background-color: rgba(217, 217, 217, 0.49);
    /* width: 30%; */
    min-height: 790px;
    margin: 20px 0;
  }
  
  .reader_profile_sidebar_img {
    text-align: center;
  }
  
  .reader_profile_sidebar_img img {
    width: 154px;
    height: 154px;
    border-radius: 154px;
    object-fit: cover;
  }
  .reader_profile_sidebar_title{
    padding-top: 30px;
    padding-bottom: 20px;
    
  }
  .reader_profile_sidebar_camerabg {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    background-color: #0f82cb;
    position: relative;
    top: -47px;
    left: 13rem;
  }
  
  .reader_profile_sidebar_camerabg i {
    color: white;
    font-size: 30px;
  }
  
  .reader_profile_sidebar_title p {
    color: #110422;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
  }
  
  .reader_profile_sidebar_padding{
      padding: 0 40px;
  }
  
  .reader_profile_sidebar_settings{
      display: flex;
  }
  .reader_profile_sidebar_icons{
      font-size: 20px;
      margin-right: 15px;
  }
  .reader_profile_sidebar_settings p{
      color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: capitalize;
  }
  
  .reader_profile_sidebar_account_info{
      display: flex;
      justify-content: space-between;
  }
  
  .reader_profile_sidebar_account_info .d-flex p{
      font-size: 20px;
  }
  
  .reader_profile_sidebar_logoybtn{
      text-align: center;
  }
  
  .reader_profile_sidebar_padding a{
      text-decoration: none;
      color: #000;
  }
  