.container_readerprofile{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    /* justify-content:space-between; */
}
.Readerprofilesidebar {
    width: 30%;
  }
  
  .Readerprofileaccountinfo {
    width: 79%;
  }
