.reader_signin{
    font-family: "Poppins", sans-serif;
    padding: 20px 0;
}
.reader_signin_img{
    /* margin-left: 100px; */
    margin-top: 70px;
}
.reader_title{
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 40px;
  
}
.reader_signin_input input{
    color: #000;
    width: 100%;
  border-radius: 2px;
  border: 2.5px solid #000;
  height: 43px;
  padding-left: 1rem;
  
}
.input_signin_input input::placeholder {
    color: black;
  }
.input_radio{
    margin: 20px 10px 10px 10px;
}
.input_radio input[type="radio"] +label  {
    margin-right: 70px;
  }
.reader_signin_button button{
    color:black;
    font-weight: 700;
    width: 150px;
    margin-left: 250px;
    cursor: pointer;
    
}
.reader_fp{
    margin-left: 650px;
    margin-top: 20px;
}
.reader_login_button button{
    margin-left: 580px;
    margin-top: 20px;
    color: black;
    font-weight: 700;
    width: 150px;
}
.reader_login_or{
    text-align: center;
    margin-top: 80px;
}
.reader_login_last{
    text-align: center;
    margin-top: 40px;
   
}
.reader_login_last button{
    border: #000;
    background-color: rgb(150, 148, 148);
    border-radius: 4px;
}