.main_class{
    width: 100%;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 4%; /* Adjust the left padding as needed */
    padding-right: 4%;
    border-radius: 4px;
}
.breaking_head{
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 60px;
    font-size: 30px;
    
}
.carousel-inner {
    height: 600px;
}

.carousel-item img {
    height: 100%; 
}
.carousel_button{
    text-align: center;
    height: 30px;
    background-color: rgba(0, 255, 255, 0);
    color: whitesmoke;
    font-size: medium;
    line-height: 1; 
    overflow: hidden; 
    border-radius: 4px;
    border-color:  white;
}

.carousel-caption{
    white-space: nowrap;
    color: gray;
    padding-bottom: 250px;
    padding-left: 500px;
    font-size: 50px;
    font-weight:bolder;
    line-height: 60px;
}
