    .singlecontributer-main{
        width: 500px;
        height: 600px;
        background-color: aquamarine;
        margin: 20px;
        margin-left: 200px;
        border-radius: 12px;
        padding: 20px;
    }
    .singlecontributer-button{
        margin-left: 120px;
    }
    .singlecontributer-main input{
        width: 300px;
        height: 40px;
        border: 2px solid black;
        border-radius: 12px;
    }