.admin_advertiser_request{
margin-top: 30px;
margin-left: 150px;
    width: 900px;
    height: 100px;
    background-color: rgb(218, 216, 216);
    border-radius: 20px;
}
.admin_advertiser_request img{
    padding: 10px;
}
.admin_advertiser_time{
    padding-left: 400px;
}
#arrow{
    padding-top: 20px;
    padding-left: 10px;
}
.admin_advertiser_request h4{
    padding-left: 10px;
}